<?xml version="1.0" encoding="utf-8"?>
<manifest />

=== TamilDhoolProvider/src/main/kotlin/recloudstream/TamilDhoolPlugin.kt ===
package recloudstream

import com.lagradost.cloudstream3.plugins.CloudstreamPlugin
import com.lagradost.cloudstream3.plugins.Plugin
import android.content.Context

@CloudstreamPlugin
class TamilDhoolPlugin: Plugin() {
    override fun load(context: Context) {
        registerMainAPI(TamilDhoolProvider())
    }
}
